@font-face {
    font-family: 'header';
    src: url(comic_kings/Comic\ Kings.ttf);
}
@font-face {
    font-family: 'corpo';
    src: url(hey_fun/Hey\ Fun.ttf);
}
header h1 {
    font-family: 'header';
    color: white;
    margin-top: 2%;
    font-size: 450%;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: rgb(29, 21, 6);
    text-shadow: 0 0 10px #000000;
}
h2, h4 {
    font-family: 'header';
    margin-top: 2%;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(29, 21, 6);
    text-shadow: 0 0 3px #000000;
}
h4 {
    margin-top: 4%;
    margin-bottom: -3%;
}
h2 {
    margin-bottom: -10px;
}
p {
    font-family: 'corpo';
    font-size: 120%;
    margin-top: 2%;
}
main {
    text-align: center;
}
main img {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
}
footer img {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    transition: 1s box-shadow;
}
footer p {
    margin-top: -2%;
}
footer img:hover {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.637);
}